@model List<RTech.Demo.Areas.MockTest.ViewModels.DialogueVm>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_PTE.cshtml";
}

<section class="uk-section uk-section-muted    uk-animation-fade ">

    <div class="uk-container">

        <div class="uk-dashboard-wrapper">
            <div class="uk-db-header ">
                <h3>Mock Test Dialogues</h3>
                <p>@Model.Select(x=> x.Instruction).FirstOrDefault()</p>
            </div>
            <div class="uk-db-border uk-padding uk-bg-white ">

                <table class="uk-table uk-table-striped ">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Title</th>
                            <th>Start Test</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{ int i = 0;}
                        @foreach (var item in Model)
                        {
                            i++;

                            <tr>
                                <td>@i</td>
                                <td> @item.Title</td>

                                @{
                                    if (item.IsTaken == false)
                                    {
                                        <td><a href="@Url.Action("QuestionSetsPage","MockTestHome", new { @dialogueId = item.Id})" class="uk-button  uk-button-primary uk-border-pill">Start <i class="fa fa-chevron-right" aria-hidden="true"></i></a></td>
                                    }
                                    else
                                    {
                                        <td>
                                            Completed
                                        </td>
                                    }
                                }


                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="uk-db-footer uk-text-center uk-padding-small">
                <a href="@Url.Action("Index","Dashboard", new { @Area="Student"})" class="uk-button  uk-button-danger uk-border-pill"><span uk-icon="chevron-left"></span>Back</a>
            </div>

        </div>
    </div>

</section>



