@model RTech.Demo.Areas.Student.ViewModels.ClassRoomCourseMasterViewModel
@{
    ViewBag.Title = "MyClassRoomCourseDetails";
    Layout = "~/Views/Shared/_Layout_PTE.cshtml";
}


<!--  Start -->
<!--  -->
<section class="uk-section-small uk-bg-dark-blue uk-light  uk-text-center uk-arrow-down uk-relative  ">

    <div class="uk-container  ">
        <h2 class="uk-margin-remove uk-text-bold">@Model.CourseName</h2>
        <ul class="uk-breadcrumb uk-flex uk-flex-center">
            <li><a href="@Url.Action("","", new { @Area = ""})">Home</a></li>
            <li><span>@Model.CourseName</span></li>
        </ul>
    </div>

</section>
<!--  -->
<!--  -->
<section class="uk-section">

    <div class="uk-container ">
        <div class="uk-text-left" uk-grid>
            <div class="uk-width-1-4@m uk-first-column">
                <div class="uk-card uk-card-default uk-card-body uk-sticky" style="z-index: 88;" uk-sticky="bottom: #footer">
                    <ul class="uk-nav-default uk-nav-parent-icon uk-nav" uk-nav="">
                        <li class="uk-active"><a href="package-details.php">Package Overview</a></li>
                        <li class="uk-parent uk-open">
                            <a href="#">Course Material</a>
                            <ul class="uk-nav-sub" aria-hidden="false">
                                <li><a href="@Url.Action("VideoMaterials","Course", new { @Area = "Student"})">Video</a></li>
                                <li><a href="@Url.Action("PdfMaterial","Course", new { @Area = "Student"})">PDF</a></li>
                                <li><a href="@Url.Action("AudioMaterial","Course", new { @Area = "Student"})">Audio</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("IncludedMockTests","Course", new { @Area="Student",  @packageId = Model.CourseId })">10 Mock Test</a></li>

                    </ul>
                </div><div class="uk-sticky-placeholder" style="height: 226px; margin: 0px;" hidden=""></div>

            </div>
            <div class="uk-width-expand@m">
                <div class="uk-db-header  uk-card-default ">
                    <h3>Package Overview</h3>
                </div>
                <div class="uk-card uk-card-default uk-card-body">

                    @Html.Raw(Model.Description)

                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->
<!--  End -->


