
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_PTE.cshtml";
}

<section class="uk-section uk-section-muted  uk-flex uk-flex-middle uk-animation-fade ">

    <div class="uk-container">
        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    Riddha.UI.Toast("@ViewBag.Message", @ViewBag.ToastrVal);
                };
            </script>
        }

        <div class="uk-dashboard-wrapper">
            <div class="uk-db-header ">
                <h3>Dashboard</h3>
            </div>
            <div class="uk-db-border uk-padding-large uk-bg-white ">

                <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-3@l uk-flex uk-flex-middle uk-text-center" uk-grid>
                    <!--  -->
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-dashboard-item border-bottom-secondary uk-animation-fade uk-border-radius-small">

                            <a href="@Url.Action("MyNaatiPackageList","Course")">
                                <div class="uk-icon-dashboard">
                                    <img src="/images/icon/packages.svg" alt="">
                                </div>
                                <h3 class="uk-margin-remove">Preparation Packages</h3>

                                <div class="uk-count">
                                    @ViewBag.ClassRoomTrainingCount
                                </div>
                            </a>
                        </div>

                    </div>
                    <!--  -->
                    <!--  -->
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-dashboard-item border-bottom-secondary uk-animation-fade uk-border-radius-small">
                            <a href="@Url.Action("MyNaatiMocktestList","MockTestHome", new { @Area="MockTest"})">
                                <div class="uk-icon-dashboard">
                                    <img src="/images/icon/mocktest.svg" alt="">
                                </div>
                                <h3 class="uk-margin-remove">Score Mock Test</h3>

                                <div class="uk-count">
                                    @ViewBag.MockTestCount
                                </div>
                            </a>
                        </div>

                    </div>
                    <!--  -->
                    <!--  -->
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-dashboard-item border-bottom-secondary uk-animation-fade uk-border-radius-small">
                            <a href="@Url.Action("Reports","Dashboard")">
                                <div class="uk-icon-dashboard">
                                    <img src="/images/icon/report.svg" alt="">
                                </div>
                                <h3 class="uk-margin-remove">Report</h3>

                            </a>
                        </div>

                    </div>
                    <!--  -->
                    <!--  -->
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-dashboard-item border-bottom-secondary uk-animation-fade uk-border-radius-small">
                            <a href="@Url.Action("TransactionHistory","Dashboard")">
                                <div class="uk-icon-dashboard">
                                    <img src="/images/icon/transaction-history.svg" alt="">
                                </div>
                                <h3 class="uk-margin-remove">Transaction History</h3>

                            </a>
                        </div>

                    </div>
                    <!--  -->
                    <!--  -->
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-dashboard-item border-bottom-secondary uk-animation-fade uk-border-radius-small">
                            <a href="@Url.Action("Profile","Dashboard")">
                                <div class="uk-icon-dashboard">
                                    <img src="/images/icon/profile.svg" alt="">
                                </div>
                                <h3 class="uk-margin-remove">Profile</h3>

                            </a>
                        </div>

                    </div>
                    <!--  -->
                    <!--  -->
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-dashboard-item border-bottom-secondary uk-animation-fade uk-border-radius-small">
                            <a href="@Url.Action("ChangePassword","Dashboard")">
                                <div class="uk-icon-dashboard">
                                    <img src="/images/icon/change-password.svg" alt="">
                                </div>
                                <h3 class="uk-margin-remove">Change Password</h3>

                            </a>
                        </div>

                    </div>
                    <!--  -->

                </div>
            </div>

        </div>
    </div>

</section>

